.book-card {
  width: 160px;
  margin-bottom: 1.5rem;
}

.wit {
	width: 150px;
	height: 120px;
}
.img-responsive {
  max-width: 200%; /* or to whatever you want here */
  height: 80%; /* or to whatever you want here */
}